appdirs
beautifulsoup4
bs4
certifi
charset-normalizer
cssselect
fake-useragent
idna
importlib-metadata
lxml
parse
pyee
pyppeteer
pyquery
requests
requests-html
soupsieve
tqdm
urllib3
w3lib
websockets
zipp
